.input-container {
	display: flex;
	align-items: center;
	border: 0.0625rem solid var(--input-border-color);
	box-sizing: border-box;
	border-radius: var(--input-border-radius);
	width: 100%;
	height: var(--input-height);
	position: relative;

	&:focus-within {
		border-color: var(--secondary);
	}

	&.error {
		border-color: var(--error);
	}

	&.textarea {
		height: auto;

		.input {
			padding: var(--input-padding);
		}
	}

	&.readonly {
		background: var(--background);

		.input {
			color: var(--text-light);
		}
	}

	.input {
		padding: 0 var(--input-padding);
		height: 100%;
		width: 100%;
		border: none;
		border-radius: var(--input-border-radius);
		font-size: 0.875rem;
		font-weight: 400;
		color: var(--text-light);
		background: var(--background);

		&:focus {
			outline: none;
		}

		&[type='number']::-webkit-outer-spin-button,
		&[type='number']::-webkit-inner-spin-button {
			appearance: none;
			margin: 0;
		}

		&::placeholder {
			color: var(--neutral-neutral10);
		}
	}

	.input-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;

		&.left {
			padding-left: var(--input-padding);
		}

		&.right {
			padding-right: var(--input-padding);
		}
	}

	.input-icon-left {
		margin-top: 0;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);

		svg {
			path {
				fill: var(--input-border-color);
			}
		}
	}
}

.input-container .input:autofill {
	background-color: var(--background) !important;
	color: var(--text-light) !important;
	-webkit-text-fill-color: var(--text-light) !important;
	-moz-text-fill-color: var(--text-light) !important;
}

.input-container .input:-webkit-autofill,
.input-container .input:-webkit-autofill:hover,
.input-container .input:-webkit-autofill:focus,
.input-container .input:-webkit-autofill:active {
	-webkit-text-fill-color: var(--text-light) !important;
	caret-color: var(--text-light) !important;
	-webkit-box-shadow: 0 0 0 1000px var(--background) inset !important;
	box-shadow: 0 0 0 1000px var(--background) inset !important;
	transition:
		background-color 5000s ease-in-out 0s,
		color 5000s ease-in-out 0s;
	border-color: var(--input-border-color) !important;
}
