.table-and-pagination-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 2rem;

	.table-container {
		border-radius: var(--input-border-radius);
		border: 1px solid var(--input-border-color);
		padding: 1rem 0.5rem;
		height: 100%;
		overflow: hidden;
		background-color: var(--background);
	}

	.table-overflow-container {
		max-height: 100%;
		overflow: auto;
		scroll-padding-top: 2.5rem;
		padding: 0.5rem 1rem;
		&.empty-rows {
			padding-bottom: 0;
		}
	}

	.table-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.5rem 1rem;

		h3 {
			color: var(--neutral-neutral20);
		}

		.table-search-filters {
			display: flex;
			align-items: center;
			gap: 0.5rem;
		}

		.table-filter-button {
			flex: 0 0 var(--input-height);
			width: var(--input-height);
			min-width: var(--input-height);
			max-width: var(--input-height);
			height: var(--input-height);
			display: grid;
			place-items: center;
			border: 1px solid var(--input-border-color);
			border-radius: var(--input-border-radius);
			background: var(--background);
			cursor: pointer;
			position: relative;
			transition:
				border-color 0.2s,
				background 0.2s,
				color 0.2s;

			svg {
				width: 1.25rem;
				transition: fill 0.2s;
			}

			svg path {
				fill: var(--primary-dark);
				transition: fill 0.2s;
			}

			&:focus,
			&:focus-visible {
				border-color: var(--secondary);
				outline: none;

				svg path {
					fill: var(--secondary);
				}
			}

			&:hover:not(:disabled) {
				border-color: var(--secondary);
				background: var(--primary-light);

				svg path {
					fill: var(--secondary);
				}
			}

			&.active {
				border-color: var(--primary);

				svg path {
					fill: var(--primary);
				}
			}

			&.hide-count {
				&::after {
					display: none;
				}
			}

			&::after {
				content: attr(data-count);
				position: absolute;
				top: -0.6rem;
				right: -0.6rem;
				width: 1.25rem;
				height: 1.25rem;
				border-radius: 50%;
				background: var(--primary);
				color: var(--white);
				font-size: 0.75rem;
				font-weight: 500;
				line-height: 0;
				display: grid;
				place-items: center;
			}
		}
	}

	.table {
		white-space: nowrap;
		margin: 0;
		border-collapse: separate;
		border-spacing: 0;
		table-layout: fixed;
		width: 100%;

		td,
		th {
			text-align: left;
			scroll-snap-align: start;
		}

		th {
			background: var(--background-light);
			font-size: 0.875rem;
			font-weight: 500;
			color: var(--primary);
			padding: 1.5rem;
		}

		td {
			font-size: 0.85rem;
			background: var(--background);
			color: var(--text-label);
			padding: 0.7rem 1.5rem;
			border-bottom: 1px solid var(--input-border-color);
			transition: background 0.2s;
		}

		tr {
			&:hover td {
				background: var(--primary-light);
			}
		}

		thead th {
			position: sticky;
			top: 0;
			z-index: 1;
		}

		thead {
			th.fixed-first {
				position: sticky;
				top: 0;
				left: 0;
				z-index: 2;
			}

			tr:first-child th {
				top: 0;
			}

			th.fixed-last {
				position: sticky;
				right: -1px;
				z-index: 2;
			}

			th.sortable {
				cursor: pointer;
				transition: color 0.2s;
				&:hover {
					color: var(--secondary);
				}
			}

			th.filter {
				padding: 0 1rem;
			}

			.th-wrapper {
				display: flex;
				align-items: center;
				gap: 0.5rem;
			}
		}

		tbody {
			td.fixed-first {
				&:first-child {
					position: sticky;
					left: 0;
					z-index: 1;
				}
			}

			td.fixed-last {
				&:last-child {
					position: sticky;
					right: -1px;
					z-index: 1;
					padding: 0.5rem 0;
				}
			}

			tr:last-child td {
				border: none;
			}
		}

		&.align-right {
			justify-content: flex-end;

			th:last-child,
			td:last-child {
				text-align: right;

				.table-filteredColumns-item-wrapper {
					justify-content: flex-end;
				}
			}

			.table-actions,
			.table-actions-modal {
				justify-content: flex-end;
			}
		}

		.table-actions {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 0.5rem;
		}
	}
}

.table-empty {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem 1.5rem;

	h2 {
		font-size: 1.5rem;
		margin-bottom: 1rem;
		color: var(--primary);
	}

	p {
		font-size: 0.875rem;
		color: var(--text-label);
	}
}
