.card-component {
	flex: 1;
	box-sizing: border-box;
	padding: 1.875rem;
	width: 100%;
	color: var(--text-light);
	background-color: var(--background-light);
	border-radius: 1rem;

	&.center-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&.empty-state {
		background-color: var(--primary-light);
		border-radius: 1rem;

		display: flex;
		align-items: center;
		justify-content: center;
	}
}
