.custom-page-wrapper {
	padding: 2.5rem;
	display: flex;
	flex-direction: column;
	height: 100%;
	box-sizing: border-box;

	.card-component {
		svg {
			font-size: 4.375rem;
			color: var(--primary);
			margin-bottom: 1.25rem;
		}

		ul {
			max-width: 50rem;
		}
	}
}
