.admin-warning-alert {
	display: flex;
	gap: 1rem;
	padding: 12px 16px;
	margin-bottom: 20px;
	border-radius: 4px;
	background-color: var(--warning-light);
	border-left: 4px solid var(--warning);

	.warning-icon {
		font-size: 24px;
		margin-right: 16px;
		display: flex;
		align-items: center;
	}

	.warning-content h4 {
		color: var(--black);
		margin-top: 0;
		margin-bottom: 8px;
		font-weight: 600;
	}

	.warning-content p {
		margin-top: 0;
		margin-bottom: 4px;
	}
}
