.editor-container {
	max-width: 790px;
	width: 100%;
	margin: 0 auto;
	padding: 0 1rem;
	position: relative;
	height: 297mm;

	.docu-editor {
		background-color: var(--white);
		overflow: auto;
		height: 100%;

		.bn-toolbar [role='combobox'] {
			display: flex;
			gap: 1rem;
			width: fit-content;
		}

		.bn-block-content {
			padding: 1rem;
			select {
				font-size: 0.95rem;
				border-radius: 4px;
				background-color: var(--background-light);
				color: var(--white);
				border: 1px solid var(--border-color);
				appearance: menulist;

				&:focus,
				&:hover {
					opacity: 1;
				}

				option {
					background-color: var(--background-light);
					color: var(--white);
				}
			}
		}

		.bn-thread-comment img {
			border-radius: 50% !important;
			border: 2px solid var(--primary);
			object-fit: cover;
			width: 2rem !important;
			height: 2rem !important;
		}
	}
}
