.table-filter-container {
	position: relative;
	padding-bottom: 0.5rem;

	.table-filter-button {
		background: none;
		border: none;
		cursor: pointer;

		svg {
			min-width: 1rem;
			max-width: 1rem;
		}

		&.active {
			svg {
				stroke: var(--primary);
			}
		}
	}

	.table-filter-wrapper {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		label {
			font-size: 0.875rem;
			color: var(--text-label);
		}
	}

	.table-filter-reset {
		background: none;
		border: none;
		cursor: pointer;
		font-size: 0.75rem;
		color: var(--primary);
		width: fit-content;
		transition: all 0.2s ease;

		&:hover {
			color: var(--secondary);
		}
	}

	.table-filter-reset-empty {
		height: 1rem;
	}

	.table-filter-range {
		display: flex;
		gap: 0.5rem;
		align-items: center;
	}
}
