.docu-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.docu-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	height: calc(100vh - 6.3rem);

	h2 {
		margin: 1rem 0;
	}

	.docu-editor {
		height: calc(100vh - 6.3rem);
		background-color: var(--white);
		border-radius: 0.5rem;
		overflow: auto;

		.bn-block-content {
			padding: 1rem;
			select {
				font-size: 0.95rem;
				border-radius: 4px;
				background-color: var(--background-light);
				color: var(--white);
				border: 1px solid var(--border-color);
				appearance: menulist;

				&:focus,
				&:hover {
					opacity: 1;
				}

				option {
					background-color: var(--background-light);
					color: var(--white);
				}
			}
		}
	}
}
