.docu-card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--background);
	border-bottom: 1px solid var(--input-border-color);
	border-radius: 0;
	padding: 1rem;
	cursor: pointer;
	transition: background-color 0.2s ease;

	&:hover {
		background-color: var(--primary-light);
	}

	.docu-card-content {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		flex: 1;
		overflow: hidden;

		.docu-card-name {
			transition: color 0.2s ease;

			&:hover {
				color: var(--secondary);
			}
		}

		.docu-card-details {
			display: flex;
			flex-direction: column;
			font-size: 0.8rem;
			margin-top: 8px;
			color: var(--neutral-neutral20);
		}

		.docu-card-info {
			display: flex;
			gap: 1rem;
			width: 100%;
		}

		.docu-card-left,
		.docu-card-right {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;

			span {
				> span {
					color: var(--warning-light);
				}
			}

			.team-name {
				transition: opacity 0.2s ease;

				&:hover {
					opacity: 0.7;
				}
			}
		}
	}

	.docu-card-swipe-hint {
		width: 1.5rem;
		height: 1.5rem;
		flex-shrink: 0;

		g path:first-child {
			fill: var(--error);
		}
		g path:last-child {
			fill: var(--primary);
		}
	}
}
