.documentation-header-actions {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.documentation-details {
	margin-top: 1rem;
	margin-bottom: 2rem;

	.documentation-details-info {
		display: flex;
		justify-content: space-between;
		gap: 1rem;
		width: 100%;

		.documentation-details-left,
		.documentation-details-right {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;
			font-size: 0.9rem;

			.documentation-details-views {
				display: flex;
				align-items: center;
				gap: 0.25rem;
				justify-content: flex-end;

				> span {
					color: var(--neutral-neutral20);
					font-size: 0.8rem;
				}

				> svg {
					width: 1rem;
					height: 1rem;
					path {
						fill: var(--neutral-neutral20);
					}
				}
			}

			span {
				color: var(--neutral-neutral20);

				> span {
					color: var(--warning-light);
				}

				.documentation-team-name {
					cursor: pointer;
					transition: opacity 0.2s ease;

					&:hover {
						opacity: 0.7;
					}
				}
			}
		}

		.documentation-details-right {
			span {
				display: flex;
				justify-content: space-between;
				gap: 0.2rem;
			}
		}
	}
}

.documentation-navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.welcome-message {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100% - 7.5rem);
	color: var(--text-light);

	h2 {
		margin-bottom: 1rem;
	}

	p {
		color: var(--neutral-neutral20);
	}
}
