:root {
	/* Main Palette */
	--primary: #34d399;
	--primary-dark: #064e3b;
	--primary-light: #34d3990f;

	--secondary: #33ecbb;

	/* Neutral */
	--neutral-neutral00: #0f172a;
	--neutral-neutral05: #1e293b;
	--neutral-neutral10: #334155;
	--neutral-neutral20: #94a3b8;

	/* Error */
	--error: #fc8b8b;
	--error-light: #fc8b8b0f;

	/* Texts Palette */
	--text-label: #e2e8f0;
	--text-light: #ffffff;

	/* Backgrounds */
	--background: #0f172a;
	--background-light: #0f1b2e;

	/* Other */
	--border-color: #334155;

	--white: #ffffff;
	--black: #000000;
}
