:root {
	--input-height: 2.5rem;
	--input-padding: 1rem;
	--input-border-radius: 0.625rem;
	--input-border-color: var(--neutral-neutral10);
}

.swiping {
	user-select: none !important;
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
}
