:root {
	--input-height: 2.5rem;
	--input-padding: 1rem;
	--input-border-radius: 0.625rem;
	--input-border-color: var(--neutral-neutral10);
}

/* Avoids selecting page content when .swiping class is applied */
.swiping {
	user-select: none !important;
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
}

/* PDF exporting styles  */
@media print {
	@page {
		size: A4;
		margin: 10mm;
	}

	.blockNote-root {
		font-size: 12pt;
		line-height: 1.5;
	}

	.docu-editor-header,
	nav,
	.sidebar {
		display: none !important;
	}

	.bn-block {
		page-break-inside: avoid;
	}
}
