*,
*::before,
*::after {
	box-sizing: border-box;
	min-width: 0;
	font: inherit;
}

html {
	overflow: hidden;
}

img,
video,
svg {
	display: block;
	height: auto;
	max-width: 100%;
}

body {
	margin: 0;
	min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
	margin: 0;
}

p {
	text-wrap: pretty;
	margin: 0;
}

::-webkit-scrollbar {
	width: 2px;
	height: 2px;
}

::-webkit-scrollbar-track {
	background: var(--primary-dark);
}

::-webkit-scrollbar-thumb {
	background: #34d399; /* It does not work in floating editor menu with var(--primary); */
	border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--secondary);
}
