.home-stats {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin-top: 2rem;

	.stats-row {
		display: flex;
		gap: 1.5rem;

		.stats-card {
			display: flex;
			flex-direction: column;
			height: 100%;
			background-color: var(--neutral-neutral00);
			border: 1px solid var(--input-border-color);

			& .stats-title {
				margin-bottom: 1rem;
				color: var(--text-primary);
			}
		}

		.general-stats {
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;

			& .stat-item {
				flex: 1;
				min-width: calc(25% - 1rem);
				display: flex;
				flex-direction: column;
				padding: 3rem 1rem;
				border-radius: var(--input-border-radius);
				text-align: center;
				border: 1px solid var(--input-border-color);
				transition:
					transform 0.2s ease,
					box-shadow 0.2s ease;

				&:hover {
					transform: translateY(-2px);
					background-color: var(--primary-light);
				}

				& .stat-value {
					font-size: 2rem;
					font-weight: 700;
					color: var(--primary);
					transition: color 0.2s ease;
				}

				& .stat-label {
					font-size: 0.875rem;
					color: var(--text-light);
					margin-top: 0.5rem;
					white-space: nowrap;
				}
			}
		}
	}
}
