.team-info {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background-color: var(--background);
	padding: 1rem;

	.team-members-layout {
		display: flex;
		justify-content: space-between;
		gap: 10rem;
		min-height: 4rem;

		.owner-container {
			flex: 0 0 auto;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;

			.owner-label {
				color: var(--text-light);
				font-size: 0.875rem;
			}

			.owner-tag {
				background-color: var(--warning-light);
				color: var(--black);

				.user-avatar {
					border-color: var(--warning);
				}
			}
		}

		.collaborators-container {
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 0.5rem;
			overflow: hidden;

			.collaborators-label {
				color: var(--text-light);
				font-size: 0.875rem;
			}

			.collaborators-list {
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				gap: 0.5rem;
				overflow-y: auto;
				max-height: 8rem;
				padding-right: 0.5rem;
				padding-bottom: 0.5rem;

				.no-collaborators {
					color: var(--neutral-neutral20);
				}
			}
		}
	}

	.team-tag {
		display: flex;
		align-items: center;
		background-color: var(--primary-light);
		color: var(--primary);
		padding: 0.25rem 0.5rem;
		border-radius: 1rem;
		font-size: 0.875rem;

		.user-avatar {
			width: 1.5rem;
			height: 1.5rem;
			border-radius: 50%;
			margin-right: 0.5rem;
			object-fit: cover;
			border: 1px solid var(--secondary);
		}
	}

	.team-dates {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		padding-top: 0.75rem;

		.date-item {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			font-size: 0.875rem;

			.date-label {
				color: var(--text-light);
			}

			.date-info {
				color: var(--neutral-neutral20);
			}
		}
	}
}

.team-filters {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: center;
}
